@model UserProfile;
<h1>User Page</h1>

@*<div class ="row justify-content-center align-items-center"*@
<a asp-controller="Home" asp-action="Index">Home</a>
<div class="container =mt-5">
    
<form asp-controller="User" asp-action="Index" method="get">   
   <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        @if (Model.UserType == "User") // ENUM
        {
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="FIO"></label> //
                </div>
                <div class="col-5">
                    <input type="text" asp-for="UserType" class="form-control" /> //
                </div>
                <span class="text-danger" asp-validation-for="Phone"></span> //
            </div>
        }
        else if (Model.UserType == "Org")
        {
            <div class="form-group row">
                <div class="col-2">
                <label asp-for="Title"></label> //
            </div>
            <div class="col-5">
                <input type="text" asp-for="LegalName" class="form-control" /> //
            </div>
            <span class="text-danger" asp-validation-for="OrganizationId"></span> //
        </div>
        }
</form>
</div>


