@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <div class="main__title">
            <h1 class="title">Экономим вместе</h1>
            <h2 class="little_title">Опыт показывает, что закупать товар вы можете на 15-20% ниже розничной цены, и мы поможем вам в этом</h2>
        </div>
    </div>
</div>
